@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

p,
h1,
a {
  color: white;
}

.navbar {
  margin-top: 50px;
  margin-bottom: 160px;
}

.hero {
  margin-bottom: 160px;
}

@media (max-width:480px){
  .container{
    max-width: 90% !important;
  }
}
